*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
  }
  .container2{
      max-width: 1170px;
      margin: auto;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  ul{
      list-style: none;
  }
  .footer{
      background-color: #24262b;
      padding: 70px 0;
  }
  .footer-col{
      width: 25%;
      padding: 0 15px;
  }
  .footer-col h4{
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  .footer-col h4::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color:#bbbbbb;
      display: block;
      transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
      /*************************************venues************************************************/
  }
  body{
      background:#bbbbbb;
  
  }
  .container3{
      position: relative;
      padding:100px 30%;
      max-width: 100%;
      margin: auto;
      background:;
      overflow: auto;
  
  }
  .container3 h2{
      font-weight: 900;
      text-transform: uppercase;
      position: relative;
      bottom: 50px;
      text-decoration: underline;
       
  }
  .gallery{
      margin: 20px;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom:  3px solid rgb(160, 28, 28);
      float: left;
      width: 450px; 
  }
  .gallery img{
      align-items: center;
      width: 450px;
      height: 70%;
  }
  .info{
      padding: 30px;
      text-align: left;
  }
  .btn a{
      width: 50px;
      text-decoration: none;
      background-color: rgb(182, 17, 17);
      color: white;
      padding: 10px;
      margin: 50px auto;
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
      border-radius: 5px;
      
  }
  .btn a:hover{
      color: cornflowerblue;
  }
  .btn{
      padding-top: 20px;
  }
  /**********************************navigation**************************************************/
  
  
  nav{
      height: 80px;
      width: 100%;
      background: #34495e;
      
  }
  .logo{
      float: left;
      font-size: 35px;
      font-weight: 300;
      color: white;
      padding: 0 20px;
      line-height: 80px;
  }
  nav ul{
      
      float: right;
      margin-right: 40px;
  }
  nav li{
      display: inline-block;
      margin: 0 8px;
      line-height: 80px; 
      cursor: pointer; 
  }
  nav a{
      color:white;
      font-size: 18px;
      text-transform: capitalize;
      padding: 7px 10px;
      text-decoration: none;
      font-family: sans-serif;
  }
  nav a:hover{
      border: 1px solid white;
      transition: .5s;
      
  }